@model IEnumerable<EcommerceWebMVC.Data.HangHoa>
@{
    ViewData["Title"] = "Admin";
    //     Layout = "_LayoutAdmin";
    Layout = null;
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<p>
    <a asp-action="CreateProduct">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaHh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenHh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiamGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLanXem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaLoaiNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNccNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiamGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLanXem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoaiNavigation.MaLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNccNavigation.MaNcc)
            </td>
            <td>
                <a asp-action="EditProduct" asp-route-id="@item.MaHh">Edit</a> 

                <form asp-action="DeleteProduct" asp-route-id="@item.MaHh" method="post" onsubmit="return confirm('Bạn có chắc muốn xóa không?');" style="display:inline;">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    function confirmDelete(id) {
        if (confirm("Bạn có chắc chắn muốn xóa sản phẩm này không?")) {
            window.location.href = "/Admin/DeleteProduct/" + id;
        }
    }
</script>
